doctype html
html
extends base
block append content
	h4.
		Hello Admin
	table
		each user in totalUsers
			tr.users
				td.namebox Name: #{user.username}
				td.editbox: a(href ='/articles/'+user.id+'/Make Admin') Make Admin
				td.orbox or
				td.deletebox: a(href ='/articles/'+user.id+'/delete') delete
