doctype html
html
  head
    title Neapolitan Blog
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    script(src="https://tinymce.cachefly.net/4.0/tinymce.min.js")
    script.
      tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"});

  body
    div.container.navbar
      div.row
        div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.nav-brand
          img(class="img-responsive", src="images/logo.png")
        div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.nav-list
          h4
            a(class="home", href='/articles') HOME
            a(href='/admin') ADMIN PAGE
          h4
            a(class="home", href='/articles/new') MAKE A NEW POST
            a(href='/logout') LOGOUT
    block content
    .container-fluid
      .row
        .col-lg-2.col-md-2.col-sm-1
        .col-lg-8.col-md-8.col-sm-10
        .footerbox
          div.smedia
            a(href = "http://instagram.com/a.la.code/" target="_blank"): img(id="smedia" src="/images/instagram.png")
            a(href = "https://twitter.com/a_la_code" target="_blank"): img(id="smedia" src="/images/twitter.png")
            a(href = "https://facebook.com/" target="_blank"): img(id="smedia" src="/images/facebook.png")
          div.searchsection
            form(class="search", name="input", method="POST", action="/articles/search/go")
              input(type="text", name="searchfor", placeholder="Search")

