doctype html
html
extends base
block append content
  h4.
    Revisionist history
  ul
    each elem in entry
    
      form(name="input", method="POST", action="/articles/11/edit/push")
      | Username:
      input(class="author" type="text", name="author", value="#{elem.name}")
    
      | Text:
      input(class="text" type="text", name="entry", value="#{elem.text}")
    
      input(type="submit", value="submit")