doctype html
html
extends base
block append content
  h4.
    Write something
  ul
    form(name="input", method="POST", action="../#{entry[0].id}/edit/push")
     p Name
      input(type="text", name="author", value="#{entry[0].name}")
     p Text
      textarea(type="text", name="entry") !{entry[0].text}
     p
      input(type="submit", value="submit")