doctype html
html
extends base
block append content
  h4.
    What are you thinking today?
  div.container
    each user in entriesData
      div.articlebox.row
        div.row.namerow
          div.namebox.col-xs-6.col-sm-6.col-md-6
            h5 #{user.name}:
          div.textbox.col-xs-6.col-sm-6.col-md-6
            h5 !{user.title}
        div.post-actions.row
          div.viewbox.action.col-xs-6.col-sm-6.col-md-6
            a(href ='/articles/'+user.id+'/view')
             p view
          div.commentbox.action.col-xs-6.col-sm-6.col-md-6
            a(href ='/articles/'+user.id+'/view')
              span.glyphicon.glyphicon-comment  #{user.clength}