doctype html
html
extends baseloggedin
block append content
  h4.
    What are you thinking today?
  table
    each user in entriesData
      tr.article
        td.namebox #{user.name}:
        td.textbox !{user.text}
        td.namebox #{user.clength} comments
        td.viewbox: a(href ='/articles/'+user.id+'/view') view
