doctype html
html
extends base
block append content
  h4.
    What are you thinking today?
  table
    each user in entriesData
      tr.article
        td #{user.name} is thinking:
        td !{user.text}
        td: a(href ='/articles/'+user.id+'/view') view
        td or
        td: a(href ='/articles/'+user.id+'/edit') edit
        td or
        td: a(href ='/articles/'+user.id+'/delete') delete
