doctype html
html
extends base
block append content
  h4.
    Read about your experiences!
  ul
    each user in entriesData
      div.article
        | #{user.name} wrote: #{user.text}_
        a(href ='/articles/'+user.id+'/edit') edit__
        a(href ='/articles/'+user.id+'/delete') delete
