doctype html
html
extends base
blcok appent content
  p.
    According to my data, your name is #{first} #{last}. I predict you're fond of the colour #{colour}... Correct?
  p These are our blogposts
  #{post}