doctype html
html
extends base
block append content
  h4.
    Write something
  ul
    form(class="form" name="input", method="POST", action="new/create")
      p Name
        input(class="author" type="text", name="author", value="ad")
      p Post
        textarea(class="text" type="text", name="entry") What are you Thinking today?
      p
        input(class="buttonsubmit" type="submit", value="submit")