doctype html
html
extends base
block append content
  h4.
    Write something
  ul
    form(name="input", method="POST", action="new/create")
     p Name
      input(type="text", name="author", value="ad")
     p Email
      input(type="text", name="entry", value="milkshake")
     p
      input(type="submit", value="submit")