doctype html
html
extends baseloggedin
block append content
  h4.
    Write something
  ul
    form(class="form" name="input", method="POST", action="new/create")
      p Name
        input(name="author", value="#{username}")
      p Post
        textarea(class="text" type="text", name="entry") What are you Thinking today?
      p
        input(class="buttonsubmit" type="submit", value="submit")