doctype html
html
extends base
block append content
  h4.
    Write something
  ul
    form(name="input", method="POST", action="/articles/search/go")
     p Look back and laugh
      input(type="text", name="searchfor")
     p
      input(type="submit", value="submit")