doctype html
html
extends base
block append content
	h4.
		The Day's Refrain
	ul
		p Name: #{entry[0].name}
		p Text: !{entry[0].text}
	h4 Comments!
	table
		each item in entry[0].comments
			tr.comments
				td.name !{item.name}
				td.text !{item.text}
	form(name="adduser",method="GET",action="/articles/login")
		input(class="buttonsubmit" type="submit", value="Login to Add a comment!")