
$border: solid #E0E0E0 2px;

//for little subtitle on page and username in base
h3 {
	text-align: center;
	color: black;
	font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
}


// Header(base) styling here
.navbar {
	.nav-list {
		text-align: center;
		h4 {
			.home {
				border-left: 1px black solid;
			}
			a {
				border-right: 1px black solid;
				text-align: right;
				padding: 0 10px;
				color: black;
				font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
	.nav-brand {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.logoimage {
	img {
		height: auto;
		width: 600px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

// HomePage Styling Below
.imgBorder {
	padding: 0 90px;
	img {
		width: 100%;
	}
}

.container {
	.row {
		margin: 0;
	}
	.articlebox {
		text-align: center;
		margin: 80px 0;
		.namerow {
			.namebox {
				background-color: black;
				p {
					padding-top: 15px;
					font-weight: 500;
					color: #E6E6E6;
					span {
						color: #00FFFF;
						padding-right: 5px;
					}
				}
			}
			.textbox {
				background-color: black;
				border-bottom: 1px #FF00FF solid;
				h3 {
					margin: 10px 0px 40px 0px;
					padding: 5px;
					color: #ffffff;
				}
			}
		}
		.post-actions {
			.action {
				padding-top: 5px;
				background-color: black;
				height: 37px;
			}
			a {
				text-decoration: none;
				color: #ffffff;
			}
			.viewbox {
				border-right: 1px #00FFFF solid;
			}
			.editbox {
				border-left: 1px #00FFFF solid;
				border-right: 1px #00FFFF solid;
			}
		}
	}
}

// post view page styling
.articlebox {
	margin: 80px 0;
	.namerow {
		.namebox {
			border: 1px #848484 solid;
			p {
				padding-top: 15px;
				font-weight: 500;
				color: #848484;
				span {
					color: #00FFFF;
					padding-right: 5px;
				}
			}
			h3 {
				margin: 10px 0px 40px 0px;
				padding: 5px;
				color: #424242;
				font-size: 20px;
				text-align: left;
			}
		}
	}
	.viewbox {
		border: 1px #848484 solid;
		padding: 10px;
	}
}
.commentsbox {
	margin-bottom: 100px;
	.commentnameview {
		border: 1px black solid;
	}
	.commenttextview {
		border: 1px black solid;
		height: 43px;
	}
	.viewcomments {
		padding: 0px;
		button {
			width: 100%;
			background-color: #ffffff;
			border: 1px black solid;
			a {
				color: black;
			}
		}
	}
	.login {
		margin-top: 50px;
	}
}
//login Page below
.container-fluid {
	.loginform {
		margin: 50px 0;
		form {
			input {
				width: 30%;
			}
		}
	}
	.loginbuttons {
		.signup {
			input {
				width: 100%;
				color: #D0FA58;
				border: 1px #D0FA58 solid;
				background: linear-gradient(#64FE2E, #31B404);
			}
		}
		a {
			img {
				width: 100%;
			}
		}
	}
}



// Footer Styling below
.footerbox {
	background-color: #808080;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	.smedia {
		float: left;
		#smedia {
		   height: 25px;
		   width: 25x;
		   margin: 5px 20px;
		}
	}
	.searchsection {
		float: right;
		.search {
			height: 35px;
			padding: 0;
			margin: 0;
			border: none;
			input {
				background-color: #808080;
				border-right: 1px #BDBDBD solid;
				border-left: 1px #BDBDBD solid;
				border-top: 1px #808080 solid;
				border-bottom: 1px #808080 solid;
				color: #ffffff;
				height: 100%;
				width: 100px;
			}
			::-webkit-input-placeholder { /* WebKit browsers */
			    color: #BDBDBD;
			    text-align: center;
			}
		}
	}
}