
h2 {
	color:blue;
}

h3 {
	color: red;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.changepost {
	background-color: red;
}

#penguinimg {
	height: 200px;
	width: 150px;
}

td {
	padding-left: 10px;
}

#top {
   background-color: #e6e6e6;
   #smedia {
       height: 25px;
       width: 25x;
   }
}